@charset "UTF-8";
*{   
	background-color: #caf0f8;
	color: #03045e
}
#heading{
	text-align: center;
	text-shadow: 2px 2px 4px #0077b6;
	padding: 2px;
    margin-bottom:10vh;	
}
a{
	padding:20px;
	text-decoration:none;
	font-size:xx-large;
	text-shadow: 2px 2px 4px #0077b6;
}
.link-div{
	padding:5px;
	margin-left:95vh;
	height:10vh;
	width:20vh;
	border:1px solid #023e8a;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	box-shadow:4px 4px 12px #0077b6;
}
.Homediv{
  display: flex;
  flex-direction: column;              /* Stack items vertically */
  align-items: center;                 /* Center horizontally */
  justify-content: center;             /* Center vertically */
  min-height: 80vh;
}
.home-link-div{
    padding:5px;
	height:60vh;
	width:60vh;
	border:1px solid #023e8a;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	box-shadow:4px 4px 12px #0077b6;	
}