@charset "UTF-8";
*{   
	background-color: #caf0f8;
	color: #03045e
}
#heading{
	text-align: center;
	text-shadow: 2px 2px 4px #0077b6;
	padding: 2px;
    margin:3px;	
}
#heading:hover{
	cursor:pointer;
}
.main-container {
  display: flex;
  flex-direction: column;              /* Stack items vertically */
  align-items: center;                 /* Center horizontally */
  justify-content: center;             /* Center vertically */
  min-height: 80vh;                    /* Take at least 80% screen height */
}
.RegisterAndLogin{
	padding:5px;
	height:40vh;
	width:60vh;
	border:1px solid #023e8a;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	box-shadow:4px 4px 12px #0077b6;
	
}
#register , #login{
	padding:20px;
	text-decoration:none;
	font-size:xx-large;
	text-shadow: 2px 2px 4px #0077b6;
}
p{
font-size:large;
font-family:italic;
}
